image:
  tag: babb06e838396bb09ae73c5002498438f8452379

replicaCount: 1
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
externalSecrets:
  storeRef: vault-fintech-user-service-api
  basePath: temitayo/staging/fintech-user-service/api
