deployment:
  replicas: 1

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

service:
  type: LoadBalancer

ports:
  web:
    port: 80
  websecure:
    port: 443
