image:
  tag: 0e6adc0a2e2a2c17d943e60d33952ddf89a13c33

replicaCount: 1
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
externalSecrets:
  storeRef: vault-fintech-account-service-api
  basePath: temitayo/staging/fintech-account-service/api
