grafana:
  enabled: true
  adminPassword: admin
  persistence:
    enabled: false
  service:
    type: ClusterIP
  defaultDashboardsEnabled: true

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
          storageClassName: local-path

prometheus:
  prometheusSpec:
    retention: 15d
    retentionSize: "5GB"
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
          storageClassName: local-path
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1000m
        memory: 1.5Gi
    livenessProbe:
      httpGet:
        path: /-/healthy
        port: web
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 30
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /-/ready
        port: web
      initialDelaySeconds: 60
      periodSeconds: 5
      timeoutSeconds: 30
      failureThreshold: 3

prometheus-operator:
  enabled: true
