image:
  tag: 6cac310052f5f9e999519579815988df7533a6f1

replicaCount: 1
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
externalSecrets:
  storeRef: vault-fintech-notification-service-api
  basePath: temitayo/staging/fintech-notification-service/api
