configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: charlie-dev12212025
      default: true
      accessMode: ReadWrite
      config:
        region: us-east-1

  volumeSnapshotLocation:
    []

  schedules:
    daily:
      schedule: "0 2 * * *"
      template:
        ttl: 720h
        includedNamespaces:
        - '*'

credentials:
  existingSecret: velero-aws-credentials
  useSecret: true

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.9.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins

replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
